.mLogScrollPane {
    -fx-background-color: transparent;
}

.mOpenFile {
    -fx-font: 14 arial;
    -fx-base: #AfffB9;
}

.mGenerateFiles {
    -fx-font: 14 arial;
    -fx-base: #C3FAFF;
}

.mConfigButton {
    -fx-font: 14 arial;
     -fx-base: #FF5100;
}

.mHelpButton {
    -fx-font: 10 arial;
    -fx-base: #FF8200;
}